<div style="font-size: 20px;border: solid 1px black" class="">
<form class="uk-form-stacked">
 <div class="uk-margin">
        <label class="uk-form-label" for="form-stacked-select" style="text-align: center;font-weight: bold;font-size: 30px">Select Customer Name</label>
        <div class="uk-form-controls">
            <select class="uk-select" id="form-stacked-select" ng-model="custName" ng-change="CustChanged()" >
                <option  ng-repeat="book in books">{{book.name}}</option>

            </select>
          <div class="uk-overflow-auto" style="">
                <table class="uk-table uk-table-small uk-table-divider">
                    <thead  style="background-color: #eeeeee;color: black; font-weight: bold">
                    <tr>
                        <th>Number</th>
                        <th>Full Name</th>
                        <th>Order Date</th>
                        <th>Order Price</th>
                        <th>Total</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>

                        <td>{{book[0].number}}</td>
                        <td>{{books[0].name}}</td>
                        <td>{{books[0].total}}</td>
                        <td><span class="uk-badge" style="width: 100px">{{books[0].number}}</span></td>
                        <td><span class="uk-badge" style="width: 100px">{{books[0].number}}</span></td>

                    </tr>

                    </tbody>
                </table>
            </div>

        </div>
    </div>
</form>

<div class="uk-overflow-auto">
    <table class="uk-table uk-table-small uk-table-divider">
        <thead  style="background-color: #eeeeee;color: black; font-weight: bold">
        <tr>
            <th>Number</th>
            <th>Full Name</th>
            <th>Order Date</th>
            <th>Order Price</th>
            <th>Total</th>
        </tr>
        </thead>
        <tbody ng-repeat="order in books">
        <tr>

            <td>{{order.number}}</td>
            <td>{{order.name}}</td>
            <td>{{order.date}}</td>
            <td><span class="uk-badge" style="width: 100px">{{order.order_price}}</span></td>
            <td><span class="uk-badge" style="width: 100px">{{order.total}}</span></td>

        </tr>

        </tbody>
    </table>
</div>
</div>
