<div class="" style="width: 100%" >
    <div class="uk-position-relative uk-visible-toggle uk-light" tabindex="-1" uk-slideshow="animation: scale" style="width: 100%">

        <ul class="uk-slideshow-items">
            <li style="height:  100%">
                <img src="images/4.jpg" alt="" uk-cover >
                <div class="uk-overlay uk-overlay-primary uk-position-bottom uk-text-center uk-transition-slide-bottom">
                    <h3 class="uk-margin-remove">All Nature Fruits and Vegetables</h3>
                    <p class="uk-margin-remove">You can order all parts of fruits and vegetables both by nature or by drinks.</p>
                </div>
            </li>
            <li style="height:  100%">
                <img src="images/2.jpg" alt="" uk-cover>
                <div class="uk-overlay uk-overlay-primary uk-position-bottom uk-text-center uk-transition-slide-bottom">
                    <h3 class="uk-margin-remove">Meals And Fruits</h3>
                    <p class="uk-margin-remove">You can get All parts Of meals both Hot And cool.</p>
                </div>
            </li>
            <li style="height: 100%">
                <img src="images/3.jpg" alt="" uk-cover>
                <div class="uk-overlay uk-overlay-primary uk-position-right uk-text-center uk-transition-slide-right uk-width-medium">
                    <h3 class="uk-margin-remove">Coffee And Tea</h3>
                    <p class="uk-margin-remove">You can order Coffee And TEA.</p>
                </div>
            </li>
        </ul>

        <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slideshow-item="previous"></a>
        <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slideshow-item="next"></a>

    </div>
</div>




