<!-- Start your project here-->
<div class="" style="">
    <div style="background-color: black;padding: 30px;">
        <a href="" class="  uk-margin-small-left" style="">
            <a class="navbar-brand" ui-sref="app.home"  style="font-size: 30px; color: yellow;border: solid 2px; border-radius: 20px">Restaurant Management System</a>

        </a>
<a href="" class="uk-icon-button uk-margin-small-right" uk-icon="twitter"></a>
<a href="" class="uk-icon-button  uk-margin-small-right" uk-icon="facebook"></a>
<a href="" class="uk-icon-button" uk-icon="google-plus"></a>
    <a href="" class="uk-icon-button uk-margin-small-right" uk-icon="twitter"></a>
    <a href="" class="uk-icon-button  uk-margin-small-right" uk-icon="facebook"></a>
    <a href="" class="uk-icon-button" uk-icon="google-plus"></a<a href="" class="uk-icon-button uk-margin-small-right" uk-icon="twitter"></a>
    <a href="" class="uk-icon-button  uk-margin-small-right" uk-icon="facebook"></a>
    <a href="" class="uk-icon-button" uk-icon="google-plus"></a
    <a href="" class="uk-icon-button uk-margin-small-right" uk-icon="twitter"></a>
    <a href="" class="uk-icon-button  uk-margin-small-right">
        <form class="form-inline" style="font-size: 30px; margin-left: 600px">
            <div class="md-form my-0">
                <input class="form-control mr-sm-2" type="text" ng-model="x" placeholder="Search" aria-label="Search" style="font-size: 30px;display: inline">
            </div>
        </form>
    </a>

    </div>
</div>
<div class="row " style="margin-top: 0px">
    <div class="col-2"  style="background-color: #090909; color: #1310ee">
        <div>
            <nav class=" navbar-expand-lg navbar-dark " style="font-size: 30px;padding-bottom:100px;">
                <div class="">

                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav"
                            aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <!-- Collapsible content -->
                    <div class="collapse navbar-collapse" id="basicExampleNav">

                        <!-- Links -->
                        <ul class="navbar-nav mr-auto" style="display: inline;padding-top: 15px">
                            <li class="nav-item active" >
                                <a class="nav-link far " ui-sref="app.home">
                                    <span class="fas fa-tachometer-alt"></span>
                                    Dashboard
                                </a>

                            </li>
                            <li class="nav-item"  >
                                <a class="nav-link" ui-sref="app.rest">
                                    <span class="fas fa-product-hunt"></span>
                                    Meals
                                </a>
                            </li>
                            <li class="nav-item"  >
                                <a class="nav-link" ui-sref="app.books">
                                    <span class="fas fa-book"></span>
                                    Books
                                </a>
                            </li>
                            <li class="nav-item"  >
                                <a class="nav-link" ui-sref="app.cust">
                                    <span class="fas fa-users"></span>
                                 Customer
                                </a>
                            </li>
                            <li class="nav-item"  >
                                <a class="nav-link" ui-sref="app.account">
                                    <span class="fas fa-user"></span>
                                    Account
                                </a>
                            </li>

                            <!-- Modal -->
                        </ul>
                        <!-- Links -->

                    </div>
                    <!-- Collapsible content -->
                </div>

            </nav>


        </div>


    </div>
    <div class="col-10">
        <section class="" style="margin-top:0px;">
            <div ui-view="sub"></div>
        </section>
    </div>
</div>
