<!-- Start your project here-->
<div class="" style="">
    <div style="background-color: black;padding: 30px;">
        <a href="" class="  uk-margin-small-left" style="">
            <a class="navbar-brand" ui-sref="app.home"  style="font-size: 30px; color: yellow;border: solid 2px; border-radius: 20px">Restaurant Management System</a>

        </a>
<a href="" class="uk-icon-button uk-margin-small-right" uk-icon="twitter"></a>
<a href="" class="uk-icon-button  uk-margin-small-right" uk-icon="facebook"></a>
<a href="" class="uk-icon-button" uk-icon="google-plus"></a>
    <a href="" class="uk-icon-button uk-margin-small-right" uk-icon="twitter"></a>
    <a href="" class="uk-icon-button  uk-margin-small-right" uk-icon="facebook"></a>
    <a href="" class="uk-icon-button" uk-icon="google-plus"></a<a href="" class="uk-icon-button uk-margin-small-right" uk-icon="twitter"></a>
    <a href="" class="uk-icon-button  uk-margin-small-right" uk-icon="facebook"></a>
    <a href="" class="uk-icon-button" uk-icon="google-plus"></a
    <a href="" class="uk-icon-button uk-margin-small-right" uk-icon="twitter"></a>
    <a href="" class="uk-icon-button  uk-margin-small-right">
        <form class="form-inline" style="font-size: 30px; margin-left: 600px">
            <div class="md-form my-0">
                <input class="form-control mr-sm-2" type="text" ng-model="x" placeholder="Search" aria-label="Search" style="font-size: 30px;display: inline">
            </div>
        </form>
    </a>

    </div>
</div>
<div class="row " style="margin-top: 0px">
    <div class="col-2"  style="background-color: #090909; color: #1310ee">
        <div>
            <nav class=" navbar-expand-lg navbar-dark " style="font-size: 30px;padding-bottom:100px;">
                <div class="">

                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav"
                            aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <!-- Collapsible content -->
                    <div class="collapse navbar-collapse" id="basicExampleNav">

                        <!-- Links -->
                        <ul class="navbar-nav mr-auto" style="display: inline;padding-top: 15px">
                            <li class="nav-item active" >
                                <a class="nav-link far " ui-sref="app.home">
                                    <span class="fas fa-tachometer-alt"></span>
                                    Dashboard
                                </a>

                            </li>
                            <li class="nav-item"  >
                                <a class="nav-link" ui-sref="app.rest">
                                    <span class="fas fa-hamburger"></span>
                                    Meals
                                </a>
                            </li>
                            <li class="nav-item"  >
                                <a class="nav-link" ui-sref="app.books">
                                    <span class="fas fa-book"></span>
                                    Books
                                </a>
                            </li>
                            <li class="nav-item"  >
                                <a class="nav-link" ui-sref="app.cust">
                                    <span class="fas fa-users"></span>
                                 Customer
                                </a>
                            </li>
                            <li class="nav-item"  >
                                <a class="nav-link" ui-sref="app.account">
                                    <span class="fas fa-user"></span>
                                    Account
                                </a>
                            </li>
                            <li class="nav-item">
                                <a> <i   class="fas fa-shopping-cart fa-lg white-text pr-3" style="margin-top: 15px;margin-left: 50px;" data-toggle="modal" data-target="#fullHeightModalTop"></i>
                                </a>
                            </li>

                            <div class="modal fade right" id="fullHeightModalTop" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                                 aria-hidden="true">

                                <!-- Add class .modal-full-height and then add class .modal-right (or other classes from list above) to set a position to the modal -->
                                <div class="modal-dialog modal-full-height modal-top" role="document">


                                    <div class="modal-content">
                                        <div class="modal-header" style="background-color: #00c300">
                                            <h1 class="modal-title w-100" id="myModalLabel" style="text-align:center">Ordering part</h1>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true"></span>
                                            </button>
                                            <button type="button" class="btn " data-dismiss="modal" style="color: black;font-size: 25px">Close</button>

                                        </div>
                                        <div class="modal-body">
                                            <div class="row" style="color: tomato">
                                                <div class="col-lg-2 col-xs-3">
                                                    Name
                                                </div>
                                                <div class="col-xs-3 col-lg-2">
                                                    Quantity
                                                </div>
                                                <div class="col-xs-3 col-lg-2">
                                                    Price
                                                </div>
                                                <div class="col-xs-3 col-lg-2">
                                                    Sub Total
                                                </div>

                                                <div class="col-xs-3 col-lg-2">
                                                    Image
                                                </div>
                                                <div class="col-xs-3 col-lg-2">
                                                    Delete
                                                </div>
                                            </div>
                                            <hr>
                                            <div class="row" ng-repeat="item in basket |totalFilter" >
                                                <div class="col-lg-2  col-xs-3" style="margin-top: 20px">
                                                    {{item.name}}
                                                </div>
                                                <div class="col-lg-2 col-xs-3" style="margin-top: 20px">
                                                    <button class="btn btn-danger btn-sm" ng-click="item.qty=item.qty-1">-</button>
                                                    {{item.qty}}
                                                    <button class="btn btn-success btn-sm" ng-click="item.qty=item.qty+1">+</button>
                                                </div>
                                                <div class="col-lg-2 col-xs-3" style="margin-top: 20px;">
                                                    {{item.price}}
                                                </div>
                                                <div class="col-lg-2 col-xs-3" style="margin-top: 20px;">
                                                    {{item.price*item.qty}}
                                                </div>
                                                <div class="col-lg-2 col-xs-3">
                                                    <img ng-src="{{item.img}}" style="width: 80%; height:70%" alt=" " class="img-responsive invert-image" />
                                                </div>
                                                <div class="col-xs-3 col-lg-2">
                                                    <a ng-click="delete()">
                                                        <i class="fa fa-trash" aria-hidden="true" style="color: red;text-align: center;margin-left: 20px;font-size: 40px"></i>
                                                    </a>
                                                </div>
                                            </div>
                                            <div style="background-color: #f1bb15; padding: 15px;width: 100%">
                                            <h1 style="display: inline; text-align:left;font-size:30px;padding: 20px">
                                                Total:
                                            </h1>
                                                <P style="display: inline;margin-left: 70%;">SDG:<span class="uk-badge" style="font-size: 30px;padding: 20px;margin-right: 20px;">{{total}}</span></P>
                                            </div>

                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-primary">Print</button>
                                            <button type="button" class="btn btn-info" ng-click="addBook(item)">Add to Customer book</button>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Full Height Modal Right -->
                            <!-- Modal -->
                        </ul>
                        <!-- Links -->

                    </div>
                    <!-- Collapsible content -->
                </div>

            </nav>


        </div>


    </div>
    <div class="col-10" style="margin-left: -10px">
        <section class="" style="margin-top:0px;">
            <div ui-view="sub"></div>
        </section>
    </div>
</div>
