<div class="row" style="padding-top: 10px">
    <div class="col-2" ng-repeat="meal in meals">
        <!-- Card -->
        <div class="card zoom" style="width: 180px;height: 90%;padding: 10px">

            <!-- Card image -->
            <div class="view overlay zoom">
                <img class="card-img-top" ng-src="{{meal.img}}"
                     alt="Card image cap">
                <a href="#!">
                    <div class="mask rgba-white-slight"></div>
                </a>
                <p></p>
            </div>

            <!-- Card content -->
            <div class="card-body" style="margin-top: -20px">

                <!-- Title -->
                <h5 class="card-title" style="display: inline">{{meal.name}}</h5>
                <h5 class="card-title" style="display: inline;"> <span class="uk-badge">{{meal.price}}</span></h5>

                <!-- Button -->
                <button  ng-click="$event.PreventDefault(); buy()" class="btn " style="width: 100%;padding: 10px;background-color: #f1bb15">Buy Now</button>

            </div>

        </div>
        <!-- Card -->    </div>
       </div>




